<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>চ্যাট লবি</title>
</head>
<body>
    আপনি কোন চ্যাটরুমে প্রবেশ করতে চান?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="প্রবেশ করুন">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter-এ ক্লিক করলেও কাজ করবে
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            // ব্যবহারকারীকে নতুন URL-এ Redirect করা হচ্ছে
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>